<div class="layout-footer">
    <div>
        <h5>INE</h5>
        <!-- <img src="assets/layout/images/logo-roma.svg" alt="roma-layout"/> -->
        <p>Instituto Nacional De Estadística</p>
    </div>
    <div class="footer-icons">
        <button class="p-link">
            <i class="pi pi-home"></i>
        </button>
        <button class="p-link">
            <i class="pi pi-globe"></i>
        </button>
        <button class="p-link">
            <i class="pi pi-envelope"></i>
        </button>
    </div>
</div>